

// - reset - //


// ------------------------ || Browser Default - Start || ------------------------ //
::selection {
  background: lighten($primary-color, 30%);
  color: $dark-color;
  text-shadow: none
}
::-webkit-input-placeholder {
  color: $smoke-color;
}
:-ms-input-placeholder {
  color: $smoke-color;
}

img[alt] {
    font-size: 11px;
}
// ------------------------ || Browser Default - Stop || ------------------------ //

// ------------------------ || General - Start || ------------------------ //
ul              {list-style: none;}
img             {max-width: 100%;}
.w-fit          {width: fit-content;}
.object-fit     {object-fit: cover;}
.no-wrap        {white-space: nowrap;}
.circle         {border-radius: 100%}
.cursor-pointer {cursor: pointer;}
.pointer-event-none {pointer-events: none;}

.transition,
a,
input,
select,
textarea,
button,
.btn,
.btn:focus {outline: none;}

.transition,
a,
input,
select,
textarea,
button,
.btn {
  @include transition;
}
// ------------------------ || General - Stop || ------------------------ //

.progressive{overflow:hidden;position:relative;}
.progressive__img{width:100%;transform:translateZ(0)}
.progressive--not-loaded{filter:blur(30px);transform:scale(1.1)}
.progressive--is-loaded{filter:blur(20px);animation:a .5s both;transform:scale(1)}@keyframes a{0%{filter:blur(20px)}to{filter:blur(0)}}


.top-offset {
  width: 50px;
    background: red;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: 15;
    top: 0;
    left: 0;
}//top-offset

.overlay { 
  @include transition;
  background-color: rgba($dark-color, .8);
}
.menu-overlay {
  position: fixed;
  z-index: 650;
  pointer-events: none;
  opacity: 0;
}


.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin:0;
  font-size: 13px;
}
// ------------------------ || Social Links - Start || ------------------------ //
.social-links {
  li {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 1px solid $gray-2-color;
      width: 40px; height: 40px;
      text-decoration: none;
      color: $black-color;
      margin-right: 15px;
      font-size: 18px;
      &:hover {
        color: $primary-color;
        border-color: $primary-color;
      }
    }
    &:last-child {
      a {
        margin-right: 0;
      }
    }
  }

  &.type-simple {
    li {
      a {
        border: none;
        width: auto;
        height: auto;
      }
    }
  }//type-simple  
}//social-links
// ------------------------ || Social Links - Stop || ------------------------ //

.ui-to-top {
  width: 50px;
  height: 50px;
  font-size: 24px;
  line-height: 48px;
  color: $white-color;
  background: $black-color;
  border-radius: 50%;  
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 2px 3px 8px 0px rgba(0, 0, 0, 0.3);
  position: fixed;
  right: 15px;
  bottom: 30px;
  overflow: hidden;
  text-align: center;
  z-index: 1030;
  transform: translateY(100px);
  &:hover {text-decoration: none;
    color: $white-color;
    background: $primary-color;
  }
  &.active {
    transform: translateY(0);
  }
}
.mobile .ui-to-top, .tablet .ui-to-top {
  display: none !important;
}

.full-popup {
  position: fixed;
  z-index: 2525;
  top: 0;
  left: 0;
  background: $white-color;
  padding: 20px;
  width: 100%;
  height: 100%;
  .inner {
    height: 100%;
  }
}//full-popup

.fancybox-progress {
  background-color: $primary-color;
}
.fancybox-thumbs {
  background-color: $smoke-color;
}
.fancybox-thumbs__list a:before {
  border-color: $primary-color;
}



// ------------------------ || Backgrounds - Start || ------------------------ //
.bg-white         {background-color: $white-color !important;}
.bg-black         {background-color: $black-color !important;}
.bg-primary       {background-color: $primary-color !important;}
.bg-secondary     {background-color: $secondary-color !important;}
.bg-blue          {background-color: $blue-color !important;}
.bg-info          {background-color: $info-color !important;}
.bg-success       {background-color: $success-color !important;}
.bg-warning       {background-color: $warning-color  !important;}
.bg-danger        {background-color: $danger-color !important;}
.bg-dark          {background-color: $dark-color !important;}
.bg-gray-1        {background-color: $gray-1-color !important;}
.bg-gray-2        {background-color: $gray-2-color !important;}
.bg-gray-3        {background-color: $gray-3-color !important;}
.bg-smoke         {background-color: $smoke-color !important;}
.bg-offwhite      {background-color: $offwhite-color !important;}

//lighten
.bg-dark-lighten {background-color: $dark-lighten !important;}
.bg-secondary-lighten {background-color: $secondary-lighten !important;}
.bg-primary-lighten {background-color: $primary-lighten !important;}
.bg-info-lighten {background-color: $info-lighten !important;}
.bg-success-lighten {background-color: $success-lighten !important;}
.bg-warning-lighten {background-color: $warning-lighten !important;}
.bg-danger-lighten {background-color: $danger-lighten !important;}
.bg-blue-lighten {background-color: $blue-lighten !important;}

//special
.bg-color-1 {background-color: $bg-color-1;}
.bg-color-2 {background-color: $bg-color-2;}
.bg-color-3 {background-color: $bg-color-3;}
.bg-color-4 {background-color: $bg-color-4;}
.bg-color-5 {background-color: $bg-color-5;}
.bg-color-6 {background-color: $bg-color-6;}
.bg-color-7 {background-color: $bg-color-7;}
.bg-color-8 {background-color: $bg-color-8;}
.bg-color-9 {background-color: $bg-color-9;}
.bg-color-10 {background-color: $bg-color-10;}

// ------------------------ || Backgrounds - Stop || ------------------------ //



// ------------------------ || Gradient Backgrounds - Start || ------------------------ //
.bg-gradient    {background: $bg-gradient;}
.bg-gradient-animate    {@include gradient-animate;}
// ------------------------ || Gradient Backgrounds - Stop || ------------------------ //



// ------------------------ || Background Attachments - Start || ------------------------ //
.bgd              {background-repeat: no-repeat;}
.bgd-fixed        {background-attachment: fixed;}
.bgd-top          {background-position: top;}
.bgd-right        {background-position: right;}
.bgd-bottom       {background-position: bottom;}
.bgd-left         {background-position: left;}
.bgd-center       {background-position: center;}
.bgd-middle       {background-position-y: 50%;}
.bgd-contain      {background-size: contain;}
.bgd-cover        {background-size: cover;}
// ------------------------ || Backgrounds Attachments - Stop || ------------------------ //



// ------------------------ || Borders - Start || ------------------------ //
.bdr-white        {border-color: $white-color !important;}
.bdr-black        {border-color: $black-color !important;}
.bdr-primary      {border-color: $primary-color !important;}
.bdr-secondary    {border-color: $secondary-color !important;}
.bdr-blue         {border-color: $blue-color !important;}
.bdr-info         {border-color: $info-color !important;}
.bdr-success      {border-color: $success-color !important;}
.bdr-warning      {border-color: $warning-color !important;}
.bdr-danger       {border-color: $danger-color  !important;}
.bdr-dark         {border-color: $dark-color !important;}
.bdr-gray-1       {border-color: $gray-1-color !important;}
.bdr-gray-2       {border-color: $gray-2-color !important;}
.bdr-gray-3       {border-color: $gray-3-color !important;}
.bdr-gray-4       {border-color: $gray-4-color !important;}
.bdr-smoke        {border-color: $smoke-color !important;}
.bdr-offwhite     {border-color: $offwhite-color !important;}
// ------------------------ || Borders - Stop || ------------------------ //


// ------------------------ || Alert - Start || ------------------------ //
.alert {
  &.alert-primary {
    background-color: $primary-lighten !important; 
    color: darken($primary-color, 20%);
    border-color:  lighten($primary-color, 40%);
  }
  &.alert-dark {
    background-color: $dark-lighten !important; 
    color: darken($dark-color, 20%);
    border-color:  lighten($dark-color, 80%);
  }
  &.alert-success {
    background-color: $success-lighten !important; 
    color: darken($success-color, 20%);
    border-color:  lighten($success-color, 40%);
  }
  &.alert-warning {
    background-color: $warning-lighten !important; 
    color: darken($warning-color, 20%);
    border-color:  lighten($warning-color, 40%);
  }
  &.alert-danger {
    background-color: $danger-lighten !important; 
    color: darken($danger-color, 20%);
    border-color:  lighten($danger-color, 40%);
  }
}
// ------------------------ || Alert - Stop || ------------------------ //



// ------------------------ || Links - Start || ------------------------ //
a {
    color:$primary-color;
    &:hover {color:$primary-dark-color;}    

    &.text-primary {color:$primary-color !important;
      &:hover {
        color:$primary-dark-color !important;
      }
    }
    
    &.text-secondary {color:$secondary-color !important;
      &:hover {
        color:$dark-color !important;
      }
    }
    
    &.text-blue {
      color:$blue-color !important;
      &:hover {
        color:$blue-dark-color !important;
      }
    }

    &.text-info {color:$info-color !important;
      &:hover {
        color:$info-dark-color !important;
      }
    }
   
    &.text-success {color:$success-color !important;
      &:hover {
        color:$success-dark-color !important;
      }
    }
   
    &.text-warning {color:$warning-color !important;
      &:hover {
        color:$warning-dark-color !important;
      }
    }

    &.text-danger {color:$danger-color !important;
      &:hover {
        color:$danger-dark-color !important;
      }
    }

    &.text-gray-1 {
      color:$gray-1-color !important;
      &:hover {
        color:$gray-2-color !important;
      }
    }

    &.text-gray-2 {
      color:$gray-2-color !important;
      &:hover {
        color:$dark-color !important;
      }
    }
}
// ------------------------ || Links - Stop || ------------------------ //



// ------------------------ || Radius - Start || ------------------------ //
.radius-1       {border-radius: 1px;}
.radius-2       {border-radius: 2px;}
.radius-3       {border-radius: 3px;}
.radius-4       {border-radius: 4px;}
.radius-5       {border-radius: 5px;}
.radius-6       {border-radius: 6px;}
.radius-7       {border-radius: 7px;}
.radius-8       {border-radius: 8px;}
.radius-9       {border-radius: 9px;}
.radius-10      {border-radius: 10px;}

.radius-16      {border-radius: 16px;}

.radius-top-16 {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.radius-bottom-16 {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.radius-left-16 {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.radius-right-16 {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}


.radius-100		  {border-radius: 100%}
// ------------------------ || Radius - Stop || ------------------------ //



// ------------------------ || Alpha - Start || ------------------------ //
.alpha-1         {opacity: 0.1;}
.alpha-2         {opacity: 0.2;}
.alpha-3         {opacity: 0.3;}
.alpha-4         {opacity: 0.4;}
.alpha-5         {opacity: 0.5;}
.alpha-6         {opacity: 0.5;}
.alpha-7         {opacity: 0.7;}
.alpha-8         {opacity: 0.8;}
.alpha-9         {opacity: 0.9;}
.alpha-10        {opacity: 1;}
// ------------------------ || Alpha - Stop || ------------------------ //



// ------------------------ || Width - Start || ------------------------ //
.w-size-15      {width: 15px;}
.w-size-20      {width: 20px;}
.w-size-25      {width: 25px;}
.w-size-30      {width: 30px;}
.w-size-40      {width: 40px;}
.w-size-50      {width: 50px;}
.w-size-60      {width: 60px;}
.w-size-70      {width: 70px;}
.w-size-80      {width: 80px;}
.w-size-90      {width: 90px;}  
.w-size-100     {width: 100px;}

// Minimum Width
.min-w-15       {min-width: 15px;}
.min-w-20       {min-width: 20px;}
.min-w-25       {min-width: 25px;}
.min-w-30       {min-width: 30px;}
.min-w-40       {min-width: 40px;}
.min-w-50       {min-width: 50px;}
.min-w-60       {min-width: 60px;}
.min-w-70       {min-width: 70px;}
.min-w-80       {min-width: 80px;}
.min-w-90       {min-width: 90px;} 
.min-w-100      {min-width: 100px;}  
// ------------------------ || Width - Stop || ------------------------ // 
 
 
 
// ------------------------ || Shadows - Start || ------------------------ //
.shadow-0       {box-shadow: $shadow-0;}
.shadow         {box-shadow: $shadow !important;}
.shadow-1       {box-shadow: $shadow-1;}
.shadow-2       {box-shadow: $shadow-2;}
.shadow-3       {box-shadow: $shadow-3;}
.shadow-4       {box-shadow: $shadow-4;}
.shadow-5       {box-shadow: $shadow-5;}
.shadow-x-1     {box-shadow: $shadow-x-1;}
.shadow-y-1     {box-shadow: $shadow-y-1;}
// ------------------------ || Shadows - Stop || ------------------------ //



// ------------------------ || Positions - Start || ------------------------ //
.top-left {top: 0; left: 0;}
.top-right {top: 0; right: 0;}
.bottom-left {bottom: 0; left: 0;}
.bottom-right {bottom: 0; right: 0;}
.center-center {top: 50%; left: 50%; transform: translate(-50%,-50%);}

.z-index-0        {z-index: 0;}
.z-index-1        {z-index: 1;}
.z-index-2        {z-index: 2;}
.z-index-3        {z-index: 3;}
// ------------------------ || Positions - Stop || ------------------------ //



// ------------------------ || Filters - Start || ------------------------ //
.opcty {
  opacity: 1; 
  @include transition;
  &:hover {
    opacity: 0.5;
  }
}

.multiply {
  mix-blend-mode: multiply;
}

.bright-100 {
  filter: brightness(100);
}

.grayscale {
      filter: grayscale(100%); 
      @include transition;
  &:hover {
      filter: grayscale(0);
    }
}//grayscale
// ------------------------ || Filters - Stop || ------------------------ 


//// ------------------------ || Effects - Start || ------------------------ //
.hw-ripple {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f8f8f8;
  animation: hw-ripple 1.3s linear infinite;
}//ripple

@keyframes hw-ripple {
  0% {
      box-shadow: 0 0 0 0 rgba($success-color, 0.3),                    
                  0 0 0 0.10em rgba($success-color, 0.3),
                  0 0 0 0.30em rgba($success-color, 0.5);
  }
  100% {
      box-shadow: 0 0 0 0.10em rgba($success-color, 0.3),
                  0 0 0 0.30em rgba($success-color, 0.5),
                  0 0 0 .75em rgba($success-color, 0);
  }
}//hw-ripple
// ------------------------ || Effects - Stop || ------------------------ //

